.aboutSection{
    .about{
        background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/about.jpg);
    }

    .textArea{
        padding-left: 74px;
        padding-right: 74px;
        font-family: "Arial";
        margin-top: -160px;

        h1{
            font-size: 30px;
            font-family: "ArialBold";
            margin-bottom: 69px;
        }

        p{
            width: 620px;
        }
    }
}