* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Lato;
  src: url(../css/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: Arial;
  src: url(../css/fonts/arial.ttf);
}

@font-face {
  font-family: ArialBold;
  src: url(../css/fonts/arialbd.ttf);
}