.about{

    .aboutHero{
        background-image: url(../img/about/about.jpeg);
    }

    .about1{
        background-image: url(../img/about/about1.jpeg);
    }

    .about2{
        background-image: url(../img/about/about2.jpeg);
    }

    .about3{
        background-image: url(../img/about/about3.jpeg);
    }
}