.contact{

    .contactHero{
        background-image: url(../img/contact/contact.jpeg);
    }

    .contact1{
        background-image: url(../img/contact/contact1.jpeg);
    }

    .contact2{
        background-image: url(../img/contact/contact2.jpeg);
    }

    .contact3{
        background-image: url(../img/contact/contact3.jpeg);
    }
}