.home{
    
    .homeHero{
        background-image: url(../img/home/home.jpeg);
    }

    .home1{
        background-image: url(../img/home/home1.jpeg);
    }
    .home2{
        background-image: url(../img/home/home2.jpeg);
    }
    .home3{
        background-image: url(../img/home/home3.jpeg);
    }
}