main{
    .contact{
        width: 100%;
        h1{
            font-size: 40px;
            margin-top: 55px;
        }

        h1:after {
            content: '';
            display: block;
            position: relative;
            width: 10%;
            border: 1.5px solid #898989;
            margin-top: 8px; 
        }

        margin: 0 auto;
        max-width: $site-nav-width;
        font-family: 'Proxima Nova';

        .contactPage{
            display: flex;
            justify-content: space-between;

            .left{

                img{
                    width: 400px;
                }
                .contactInfo{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-evenly;
                    margin-top: 34px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                }
            }

            .right{
                width: 529px;

                .form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-evenly;
                    gap: 21px;
                    
                    input{
                        width: 100%;
                        height: 60px;
                        background-color: #F5F5F5;
                        border: none;
                        padding-left: 20px;
                    }

                    .message{
                        min-width: 100%;
                        max-width: 90%;
                        height: 198px;
                    }

                    a{
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        
                        height: 60px;
                        width: 167px;
                        
                        background-color: $site-blue;

                        text-decoration: none;
                        text-transform: uppercase;
                        color: $site-white;
                        margin-bottom: 20px;
                    }
                }
                
            }
        } 
    }
}

@media (max-width: 860px) {
    h1{
        margin-left: 10px;
    }

    .contactPage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .left{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;

            .contactInfo{
                text-align: center;
            }
            
            
        }
        
        margin: 0 auto;
        width: 0;
    }
}

@media (max-width: 590px) {
    
    .contact{
        width: 100%;
    }

    .right{
        .form{
            margin: 0 auto;
            width: 90%;
        }
    }
}

@media (max-width: 480px) {
    
    .contact{
        width: 100%;
    }

    .right{
        .form{
            margin: 0 auto;
            width: 80%;
        }
    }
}

@media (max-width: 400px) {
    
    .contact{
        width: 100%;
    }

    .right{
        .form{
            margin: 0 auto;
            width: 60%;
        }
    }
    
}