footer{
    height: 100px;
    background-color: $site-blue;
    color: $site-white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;

    .footerContainer{
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $site-nav-height;
        max-width: $site-nav-width;
        
        .logo{
            padding: 1rem;
        }

        .socials{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            
            .facebook{
                background-image: url(../img/path6.png);
                height: 22px;
                width: 22px;
            }

            .twitter{
                background-image: url(../img/path5.png);
                height: 22px;
                width: 22px;
            }
        }
    }
}

@media (max-width: 860px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .footerContainer{
            flex-wrap: wrap;
            .logo{
                margin-left: 1em;
                
            }
        
            .socials{
                margin-right: 1em;
            }
        
            .copyright{
                font-size: 12px;
            }
        }
    }
    
}

@media (max-width: 402px){
    footer{        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        .footerContainer{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 200px;
            margin-bottom: 20px;
    
            .logo{
                margin: 0;
                width: 50%;
            }
    
            .socials{
                margin: 0;
            }
        }
    }
}
