* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.site-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.indexBanner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/homeBanner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.aboutBanner {
  margin-bottom: 95px;
}

.tourBanner .tourHero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 980px;
  height: 413px;
  margin: 48.5px auto 0 auto;
}
.tourBanner .tourHero h1 {
  font-family: "Proxima Nova";
  font-size: 80px;
  color: #FFF;
}
.tourBanner .heading {
  position: relative;
  color: #FFF;
  font-family: "Proxima Nova";
}
.tourBanner .heading h1 {
  margin-left: 30px;
  margin-top: 18px;
}
.tourBanner .heading h2 {
  left: 75%;
  bottom: 5%;
  position: absolute;
  font-size: 30px;
}
.tourBanner .landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/tourHero.png);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tourBanner .landing h1 {
  font-size: 60px;
}
.tourBanner .israel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/israel.png);
}
.tourBanner .israel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/israel.png);
}
.tourBanner .usa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/usa.png);
}
.tourBanner .australia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/australia.png);
}
.tourBanner .zealand {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/zealand.png);
}
.tourBanner .france {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/france.png);
}
.tourBanner .egypt {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/egypt.png);
}
.tourBanner .japan {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/japan.png);
}
.tourBanner .canada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/canada.png);
}
.tourBanner .uae {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/uae.png);
}

header .homeNav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  max-width: 980px;
  height: 90px;
  color: #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .homeNav .logo {
  margin-right: auto;
  padding: 1rem;
}
header .homeNav nav a {
  color: #fff;
  text-decoration: none;
  margin: 1rem;
}
header .navHolder {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 auto;
  max-width: 980px;
  height: 90px;
  color: #000;
  border-bottom: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .navHolder .logo {
  margin-right: auto;
  padding: 1rem;
}
header .navHolder nav a {
  color: #000;
  text-decoration: none;
  margin: 1rem;
}
header .callout {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 714px;
  margin: 0 auto;
  margin-top: 69.5px;
  text-align: center;
  color: #FFF;
}
header .callout h1 {
  font-size: 60px;
  font-family: "Proxima Nova";
}
header .callout .calloutButton {
  display: block;
  margin: 48px auto 0px auto;
  width: 121px;
  height: 40px;
  background-color: #79ADDC;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
header .callout .calloutButton a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
header .about {
  margin: 0 auto;
  max-width: 980px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header .about h1 {
  margin-top: 90.5px;
  font-size: 60px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 6px;
}
header .about h1:after {
  content: "";
  display: block;
  position: relative;
  width: 15%;
  border: 1.5px solid #898989;
  margin-top: 8px;
}
header .about p {
  margin-top: 36.5px;
}

@media (max-width: 860px) {
  .navHolder .logo {
    margin-left: 1em;
    font-size: 12px;
  }
  .navHolder nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: -5px;
    font-size: 0.9em;
  }
  .homeNav .logo {
    margin-left: 1em;
    font-size: 12px;
  }
  .homeNav nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: -5px;
    font-size: 0.9em;
  }
  .about {
    width: 90%;
  }
  .heading {
    display: flex;
    align-items: flex-start;
  }
}
.offer-section {
  max-width: 818px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin: -43px auto 0 auto;
}
.offer-section .offer {
  font-family: "Proxima Nova";
  width: 236px;
  height: 304px;
  text-align: center;
  background-color: green;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offer-section .offer h1 {
  margin-top: 37px;
  font-size: 60px;
  text-transform: uppercase;
}
.offer-section .offer a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  background-color: #79ADDC;
  border-radius: 20px;
  width: 133px;
  height: 40px;
}
.offer-section .israel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/israel.png);
}
.offer-section .usa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/usa.png);
}
.offer-section .australia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/australia.png);
}
.offer-section .cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 860px) {
  .offer-section {
    flex-direction: column;
  }
  .offer-section .offer {
    max-width: 50vw;
    min-width: 80vw;
    height: 40vh;
  }
}
.form-area {
  max-width: 818px;
  min-height: 304px;
  margin: 50px auto 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.form-area h1 {
  font-family: "Proxima Nova";
  font-size: 60px;
  margin-top: 40px;
}
.form-area a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  border-radius: 20px;
  background-color: #79ADDC;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 20px;
}
.form-area .form input {
  height: 50px;
  padding: 5px;
  border: solid #79ADDC 2px;
}
.form-area .form .two-input {
  margin-bottom: 20px;
}
.form-area .form .two-input .left {
  min-width: 344px;
}
.form-area .form .two-input .right {
  min-width: 470px;
}
.form-area .form .check-in {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.form-area .form .check-in input {
  min-width: 698px;
}
.form-area .form .check-in .icon {
  position: absolute;
  font-size: 24px;
  left: 95%;
}
.form-area .form .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-area .form .options select {
  height: 50px;
  min-width: 103px;
  padding: 5px;
  border: solid #79ADDC 2px;
}
.form-area .form .message {
  margin-bottom: 20px;
}
.form-area .form .message input {
  min-width: 100%;
  max-width: 90%;
  height: 192px;
}

@media (max-width: 860px) {
  .form-area h1 {
    margin-left: 10vw;
  }
  .form-area a {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .form-area .form .two-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .form-area .form .two-input .left {
    min-width: 90%;
  }
  .form-area .form .two-input .right {
    min-width: 90%;
  }
  .form-area .form .check-in {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .form-area .form .check-in input {
    min-width: 90%;
  }
  .form-area .form .check-in .icon {
    bottom: 20%;
    left: 85%;
  }
  .form-area .form .options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 20px;
    gap: 2rem;
  }
  .form-area .form .options .option {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 20%;
  }
  .form-area .form .options .option select {
    text-align: center;
    height: 50px;
    border: solid #79ADDC 2px;
    min-width: 90px;
  }
  .form-area .form .message {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-area .form .message input {
    min-width: 90%;
  }
}
footer {
  height: 100px;
  background-color: #79ADDC;
  color: #FFF;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 100px;
}
footer .footerContainer {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  max-width: 980px;
}
footer .footerContainer .logo {
  padding: 1rem;
}
footer .footerContainer .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
footer .footerContainer .socials .facebook {
  background-image: url(../img/path6.png);
  height: 22px;
  width: 22px;
}
footer .footerContainer .socials .twitter {
  background-image: url(../img/path5.png);
  height: 22px;
  width: 22px;
}

@media (max-width: 860px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .footerContainer {
    flex-wrap: wrap;
  }
  footer .footerContainer .logo {
    margin-left: 1em;
  }
  footer .footerContainer .socials {
    margin-right: 1em;
  }
  footer .footerContainer .copyright {
    font-size: 12px;
  }
}
@media (max-width: 402px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .footerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-bottom: 20px;
  }
  footer .footerContainer .logo {
    margin: 0;
    width: 50%;
  }
  footer .footerContainer .socials {
    margin: 0;
  }
}
.quote-container {
  margin: 0 auto;
  max-width: 980px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.quote-container h2 {
  font-size: 40px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.quote-container h2:after {
  content: "";
  display: block;
  position: relative;
  width: 25%;
  border: 1.5px solid #898989;
  margin-top: 8px;
}
.quote-container .quotes {
  display: flex;
  flex-direction: column;
  gap: 37px;
  margin-top: 37px;
  margin-bottom: 179px;
}
.quote-container .quotes .quote {
  display: flex;
  align-items: start;
  justify-content: left;
  max-width: 722px;
  position: relative;
}
.quote-container .quotes .quote .excerpt {
  max-width: 385px;
  margin-left: 27px;
  font-style: italic;
}
.quote-container .quotes .quote h3 {
  position: absolute;
  right: 5%;
  bottom: -10%;
  color: #79ADDC;
  font-weight: 300;
}

@media (max-width: 860px) {
  .quote-container {
    max-width: 95%;
  }
  .quote-container .quotes {
    justify-content: center;
    align-items: center;
  }
  .quote-container .quotes .quote {
    flex-direction: column;
  }
  .quote-container .quotes .quote img {
    width: 100%;
  }
  .quote-container .quotes .quote .excerpt {
    margin-top: 20px;
    margin-left: 0px;
  }
}
.tour-section {
  max-width: 818px;
  margin: 49px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
.tour-section .offer {
  font-family: "Proxima Nova";
  width: 236px;
  height: 304px;
  text-align: center;
  background-color: green;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tour-section .offer h1 {
  margin-top: 37px;
  font-size: 60px;
  text-transform: uppercase;
}
.tour-section .offer a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  background-color: #79ADDC;
  border-radius: 20px;
  width: 133px;
  height: 40px;
}
.tour-section .israel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/israel.png);
}
.tour-section .usa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/usa.png);
}
.tour-section .australia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/australia.png);
}
.tour-section .zealand {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/zealand.png);
}
.tour-section .france {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/france.png);
}
.tour-section .egypt {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/egypt.png);
}
.tour-section .japan {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/japan.png);
}
.tour-section .canada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/canada.png);
}
.tour-section .uae {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/uae.png);
}
.tour-section .cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 860px) {
  .tour-section {
    flex-direction: column;
  }
  .tour-section .offer {
    max-width: 50vw;
    min-width: 80vw;
    height: 40vh;
  }
}
main .previews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  margin-top: 40px;
}
main .dayList {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 19px;
}
main .dayList .dayPlan h1 {
  font-family: "Proxima Nova";
  font-size: 60px;
}
main .dayList .dayPlan h1:after {
  content: "";
  display: block;
  position: relative;
  width: 10%;
  border: 1.5px solid #898989;
  margin-top: 8px;
}
main .dayList .dayPlan p {
  margin-top: 38px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main .dayList a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  margin: 80px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  background-color: #79ADDC;
  border-radius: 20px;
  width: 133px;
  height: 40px;
}

@media (max-width: 860px) {
  .previews {
    flex-direction: column;
  }
  .dayPlan {
    width: 90%;
    margin-left: 20px;
  }
}
main .specialOffers {
  margin: 0 auto;
  max-width: 980px;
  font-family: "Proxima Nova";
  margin-top: 55px;
}
main .specialOffers h1 {
  font-size: 40px;
}
main .specialOffers h1:after {
  content: "";
  display: block;
  position: relative;
  width: 20%;
  border: 1.5px solid #898989;
  margin-top: 8px;
}
main .specialOffers .spOffer {
  display: flex;
  align-items: start;
  margin-top: 44px;
}
main .specialOffers .spOffer .info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
main .specialOffers .spOffer .info span {
  display: flex;
  align-items: center;
}
main .specialOffers .spOffer .info span h1:after {
  content: "";
  display: block;
  position: relative;
  width: 50%;
  border: 1.5px solid #898989;
  margin-top: 8px;
}
main .specialOffers .spOffer .info span h2 {
  margin-left: 20px;
  color: #FF7D38;
}
main .specialOffers .spOffer .info p {
  max-width: 290px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main .specialOffers .spOffer .info a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  background-color: #79ADDC;
  border-radius: 20px;
  width: 133px;
  height: 40px;
}

@media (max-width: 860px) {
  .spOffer {
    flex-direction: column;
  }
  .spOffer img {
    margin: 0 auto;
  }
}
main .blog {
  margin: 0 auto;
  max-width: 980px;
  font-family: "Proxima Nova";
  margin-top: 50px;
}
main .blog h1 {
  font-size: 40px;
}
main .blog h1:after {
  content: "";
  display: block;
  position: relative;
  width: 5%;
  border: 1.5px solid #898989;
  margin-top: 8px;
}
main .blog .blogPost {
  display: flex;
  align-items: start;
  margin-top: 40px;
}
main .blog .blogPost h1 {
  font-size: 40px;
}
main .blog .blogPost .date {
  height: 60px;
  min-width: 60px;
  background-color: #79ADDC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  margin-right: 20px;
}
main .blog .blogPost .date .num {
  font-weight: bold;
  font-size: 20px;
}
main .blog .blogPost .post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
main .blog .blogPost .post img {
  margin-bottom: 20px;
}
main .blog .blogPost .post p {
  max-width: 380px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main .blog .blogPost .post .secondary {
  color: #79ADDC;
}

@media (max-width: 860px) {
  .blog h1 {
    margin-left: 10px;
  }
  .blog .blogPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .blog .blogPost .date {
    margin-left: 10px;
  }
  .blog .blogPost .post {
    margin-left: 10px;
    margin-right: 10px;
  }
  .blog .blogPost .post img {
    width: 100%;
  }
}
main .contact {
  width: 100%;
  margin: 0 auto;
  max-width: 980px;
  font-family: "Proxima Nova";
}
main .contact h1 {
  font-size: 40px;
  margin-top: 55px;
}
main .contact h1:after {
  content: "";
  display: block;
  position: relative;
  width: 10%;
  border: 1.5px solid #898989;
  margin-top: 8px;
}
main .contact .contactPage {
  display: flex;
  justify-content: space-between;
}
main .contact .contactPage .left img {
  width: 400px;
}
main .contact .contactPage .left .contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 34px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main .contact .contactPage .right {
  width: 529px;
}
main .contact .contactPage .right .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 21px;
}
main .contact .contactPage .right .form input {
  width: 100%;
  height: 60px;
  background-color: #F5F5F5;
  border: none;
  padding-left: 20px;
}
main .contact .contactPage .right .form .message {
  min-width: 100%;
  max-width: 90%;
  height: 198px;
}
main .contact .contactPage .right .form a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 167px;
  background-color: #79ADDC;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 20px;
}

@media (max-width: 860px) {
  h1 {
    margin-left: 10px;
  }
  .contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 0;
  }
  .contactPage .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .contactPage .left .contactInfo {
    text-align: center;
  }
}
@media (max-width: 590px) {
  .contact {
    width: 100%;
  }
  .form {
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 480px) {
  .contact {
    width: 100%;
  }
  .form {
    margin: 0 auto;
    width: 80%;
  }
}
@media (max-width: 400px) {
  .contact {
    width: 100%;
  }
  .form {
    margin: 0 auto;
    width: 60%;
  }
}

/*# sourceMappingURL=styles.css.map */
