nav{
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 60px;
    background-color: $nav-grey;

    .links{    
        margin: 0 auto;
        width: $site-width;
        display: flex;
        align-items: center;
        gap: 35px;
        
        a{
            text-decoration: none;
            color: white; 
        }
    }
}