.boxes{
    width: 100%;
    height: 600px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;

    .box{
        width: 20vw;
        height: 30vh;
        background-color: rgb(208, 117, 117);
    }
}